[submodule "modules/eXtraWidgets"]
	path = modules/eXtraWidgets
	url = https://github.com/qiemem/eXtraWidgets.git
[submodule "modules/LevelsSpace"]
	path = modules/LevelsSpace
	url = git@github.com:NetLogo/LevelsSpace.git
[submodule "modules/LSWidgets"]
	path = modules/LSWidgets
	url = git@github.com:qiemem/LSWidgets.git
[submodule "modules/String-Extension"]
	path = modules/String-Extension
	url = git@github.com:NetLogo/String-Extension.git
[submodule "modules/ControlFlowExtension"]
	path = modules/ControlFlowExtension
	url = git@github.com:qiemem/ControlFlowExtension.git
[submodule "modules/Custom-Logging-Extension"]
	path = modules/Custom-Logging-Extension
	url = git@github.com:NetLogo/Custom-Logging-Extension.git
